html {
    background: url('images/IMG_2995.png');
    background-size: cover;
body
{
    color:peru;
    background-color:mistyrose;
}

nav {
    float: top;
}

ul {
    list-style-type: none;
    text-align: center;
    margin: 30px;
}

li a {
    text-decoration: none;
    color: black;
    margin: 40px;
}

li {
    list-style-type: none;
    display: inline;
}

h1 {
    text-align: center;
    font-size: 300%;
}

footer {
    bottom:0;
    position:absolute;
}
