body
{
  color:peru;
  background-color:mistyrose;
}

.NavigationBar {
    float: top;
}

ul {
    list-style-type: none;
}

li {
    text-decoration: none;
    list-style: none;
    display: inline;
}
